# Node.js
node_modules/

# Angular
dist/
*.log

# IDE (np. Visual Studio Code)
.vscode/

# Cache i pliki tymczasowe
*.log
*.tmp
*.temp
*.swp
Thumbs.db
Desktop.ini

# Katalog testów
e2e/coverage/

# Katalogi do zignorowania
.tmp/
.temp/
tmp/
temp/
logs/

# Pliki konfiguracyjne
*.config.js
*.config.ts

# Pliki środowiskowe
.env
.env.prod
.env.dev

# Pliki wygenerowane podczas budowy
*.js
*.js.map
*.d.ts

# Pliki do zignorowania w przypadku TypeScript
*.tsbuildinfo

# Pliki do zignorowania w przypadku Webpack
webpack-stats.json

# Pliki projektu
*.iml
*.log
*.swp
*.DS_Store

# Plik yarn.lock
yarn.lock

# Pliky związanego projektu NestJS
/dist/
/tmp/
/*.js
/node_modules/
/*.pem
/*.pid
/*.log
*.log
.env
.DS_Store
npm-debug.log